{% extends "BaseExample.twig" %}
{% block title %}Examples - Bucket properties{% endblock %}
{% block example_content %}
    {% spaceless %}
        <h1>Modifying bucket properties</h1>
        <p></p>
        <pre class="prettyprint linenums lang-php">{{ example("BucketProperties.ex") }}</pre>

        <h4>References</h4>
        <p>TODO</p>
    {% endspaceless %}
{% endblock %}