{% extends "Examples/BaseExample.twig" %}
{% block title %}Examples - MapReduce{% endblock %}
{% block example_content %}
    {% spaceless %}
        <h1>MapReduce</h1>
        <p>php_riak is able to do advanced map reduce queries including streaming results etc.</p>
        <p>I have not had the time to do an example yet, however take a look in <a href="https://github.com/TriKaspar/php_riak/blob/master/tests/mapreduce.phpt">this php_riak unit test</a> hope it helps a bit :).</p>
    {% endspaceless %}
{% endblock %}