{% extends "Examples/BaseExample.twig" %}
{% block title %}Examples - Secondary Indexes{% endblock %}
{% block example_content %}
    {% spaceless %}
        <h1>Secondary Indexes</h1>
        <p>Secondary indexes can be added to \Riak\Object by calling addIndex (line 16 & 17 in the example below).</p>
        <p>Querying secondary indexes is also very easy, simply call the index function on an \Riak\Bucket object (line 23 & 28)</p>
        <pre class="prettyprint linenums lang-php">{{ example("SecondaryIndexes.ex.php") }}</pre>
        <h4>Output</h4>
        <pre class="prettyprint linenums lang-bash">{{ example("SecondaryIndexes.out.ex.php") }}</pre>
    {% endspaceless %}
{% endblock %}