{% extends "Examples/BaseExample.twig" %}
{% block title %}Examples - Secondary Indexes{% endblock %}
{% block example_content %}
    {% spaceless %}
        <h1>Secondary Indexes</h1>
        <p>Secondary indexes can be added to objects by setting the RiakObject indexes property to an array (line 16 in the example below).</p>
        <p>Quering secondary indexes is also very easy, simply call the indexQuery function on an RiakBucket object (line 22 & 27)</p>
        <pre class="prettyprint linenums lang-php">{{ example("SecondaryIndexes.ex") }}</pre>
        <h4>Output</h4>
        <pre class="prettyprint linenums lang-bash">{{ example("SecondaryIndexes.out.ex") }}</pre>
    {% endspaceless %}
{% endblock %}