{% extends "Base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="hero-unit">
        <h1>Riak client for PHP</h1>
        <p>The first real PHP extension for Riak</p>
    </div>
    <h1>Features</h1>
{% endblock %}