{% extends "Base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="hero-unit">
        <h1>Riak client for PHP</h1>
        <p>The first real PHP extension for Riak</p>
    </div>
<h1>Features</h1>
<ul>
<li>Protobuffer client</li>
<li>Persistent connections</li>
<li>Auto reconnects after errors or timeouts</li>
<li>Riak PHP session store replacement, that can be enabled directly in php.ini no code needed.</li>
</ul><br />
<h1>Editor Autocompletion</h1>
If you are fortunate enough to use an editor with autocompletion etc. you can find a complete set of PHP stubs for php_riak on <a href="https://github.com/TriKaspar/php_riak_stub">https://github.com/TriKaspar/php_riak_stub</a><br /><br />
<h1>Open source</h1>
Php_riak is open source, you can download the source at <a href="https://github.com/TriKaspar/php_riak">GitHub</a><br />
If you find any bugs or have any questions fell free to email or use the <a href="https://github.com/TriKaspar/php_riak/issues">issue tracker</a><br />
{% endblock %}